@font-face {
	font-family: "negritaanchacuadrada";
	src: url('../fonts/ArialBlack/Arial\ Black.ttf');
  }
  @font-face {
  font-family: "negritaanchacircular";
	src: url('../fonts/Cooper/CooperBlackRegular.ttf');
  }
  @font-face {
  font-family: "roboto1";
	src: url('../fonts/Roboto/Roboto-Black.ttf')
  }
  @font-face {
  font-family: "roboto2";
	src: url('../fonts/Roboto/Roboto-BlackItalic.ttf')
  }
  @font-face {
  font-family: "roboto3";
	src: url('../fonts/Roboto/Roboto-Bold.ttf')
  }
  #btnbar{
	font-size: 20px;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
  transition: box-shadow 1s ease;
  transition: background-color 1s ease; 
  }
  #btnbar:hover{
    box-shadow: 0 0 40px rgba(0, 16, 109, 0.7);
    background-color: #0D6EFD;
  }
  #btnbar i{
	margin-right:10px;
  }
  .navbar-nav{
	font-family: 'negritaanchacircular';
  }
  #headera{
	margin-left:10%;
  font-family: 'negritaanchacircular';
  }
  
  a{
	  text-decoration: none;
	  color:black;
    font-family: 'negritaanchacircular';
  }

  .btn-wsp{
	  position: fixed;
	  width: 55px;
	  height: 55px;
	  line-height: 55px;
	  bottom: 30px;
	  right: 30px;
	  background:#0df053;
	  color: #fff;
	  border-radius: 50px;
	  text-align: center;
	  font-size: 30px;
	  box-shadow: 0px 1px 10px rgb(0, 0, 0,0.3);
	  z-index: 100;
  }
  .btn-wsp:hover{
	  text-decoration: none;
	  color: #0df053;
	  background: #fff;
  }
  /* Boton flotante de facebook */
  .btn-fb{
	  position:fixed;
	  float: left;
	  width: 55px;
	  height: 55px;
	  line-height: 55px;
	  bottom: 30px;
	  right: 30px;
	  bottom: 90px;
	  background:#3b5998;
	  color: #fff;
	  border-radius: 90px;
	  text-align: center;
	  font-size: 30px;
	  box-shadow: 0px 1px 10px rgb(0, 0, 0,0.3);
	  z-index: 100;
	  
  }
  .btn-fb:hover{
	  text-decoration: none;
	  color: #3b5998;
	  background: #fff;
  
  }
  @media (max-width: 767px) {
	.custom-height {
	  padding-top: 10px !important;
	  padding-bottom: 10px !important;
	  height: auto !important;
	}
  }
/* FOOTER */

.col-md-11{
	text-align: center;
 }

.mb-sm{
	font-family: 'negritaanchacuadrada';
	font-size: 24px;
}
.heading-primary{
	font-family: 'negritaanchacuadrada';
	font-size: 24px;
}
.cel{
	font-family: 'roboto3';
}
.som{
	font-family: 'roboto3';
}
.list{
	list-style: none;
}
.contacto ul {
	margin-left: 0;
	padding-left: 0;
}